<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <!-- Bootstrap CSS CDN -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />


    {% load static %}

    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
</head>

<body>

    <div class="wrapper">
        <!-- Sidebar  -->
        <nav class="collapse" id="sidebar">

            <!-- sidebar components -->
            <ul class="list-unstyled components m-2">
                <li>



                    <a href="/">
                        <span class="material-icons">home</span>
                        Home</a>

                </li>
                <li>
                    <a href="/nearby">
                        <span class="material-icons">place</span>
                        Nearby</a>


                </li>

                <li>
                    <a href="category_list/concert">

                        <span class="material-icons">music_note</span>
                        Concerts</a>

                </li>

                <li>
                    <a href="category_list/arts">
                        <span class="material-icons">brush</span>
                        Arts & Theaters</a>
                </li>

                <li>
                    <a href="category_list/family">
                        <span class="material-icons">groups</span>
                        Family</a>
                </li>

                <li>
                    <a href="category_list/sports">
                        <span class="material-icons">sports</span>
                        Sports</a>
                </li>
            </ul>



            <ul class="list-unstyled components m-2" id="bottomSideBar">
                <li>
                    <a href="/editAccount">
                        <span class="material-icons">account_circle</span>
                        Account</a>
                </li>

                <li>
                    <a href="/about">
                        <span class="material-icons">info</span>
                        About</a>
                </li>
                <li>
                    <a href="/logout"  style="color: #e2c42f;"> 
                        <span class="material-icons">logout</span>
                        Logout</a>
                </li>
            </ul>

        </nav>
        <!-- Rest of Nav Bar-->
        <div id="content">

            <nav class="navbar navbar-expand-md navbar-dark bg-dark">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn" data-bs-toggle="collapse"
                        data-bs-target="#sidebar">
                        <span class="material-icons" style="color:white;">view_list</span>
                    </button>

                    <div class="navbar-header">
                        <a class="navbar-brand ml-4" href="/">TheSpot</a>
                    </div>
                    <!-- Figure out how to use api to redirect to categories pages  -->
                    <ul class="nav navbar-nav flex-md-row mx-auto">
                        <a class="nav-link  mr-4" style="color: white;" href="/category_list/concerts">Concerts</a>
                        <a class="nav-link  mr-4" style="color: white;" href="/category_list/arts">Arts & Theater</a>
                        <a class="nav-link  mr-4" style="color: white;" href="/category_list/sports">Sports</a>
                        <a class="nav-link" style="color: white;" href="/category_list/family">Family</a>
                    </ul>

                    <form class="navbar-form navbar-left" method="POST" action="{% url 'category_list' %}">
                        <input type="text" name="concert" placeholder="Search">
                        {% csrf_token %}
                        <input type="submit" class="btn material-icons" style="color: white;" value="search">
                    </form>

                    <a href="/LoginHome" class="btn" style="color: white;"> Sign In</a>
                    <a href="/cart" class="btn" style="color: white;"> Cart</a>

                </div>
            </nav>
            <div id="main_content">
                {% block content %}
                {% endblock %}
            </div>

            <div class="text-center">

                <h3 class="display-3" style="color: #009cde;">The Spot</h3>
                <p>
                    Front-End: Carolyn Nguyen <br>
                    Back-End: Stephanie Arias
                </p>


                <div class="border-top border-bottom m-3 p-3">
                    <h5 style="color:#49274A;"> The Inspiration Behind the Project</h5>
                    <p>
                        Stephanie and I both miss those immersive, sensational, & indulgent memories when we use to
                        attend events pre-Covid-19. We decided from reminiscing that we're going to create a
                        websites that enables users to search for events, things to do so that those lively moments
                        can continue.
                    </p> <br>
                    <p>Find your favorite Artist's next performance!!!</p>
                    <p>Get the Family Together and take a Covid Friendly Trip!!!</p>
                    <p>Support your Favorite Sports Team & cheer them on!!!</p>


                    <h5 style="color:#49274A;">Features</h5>
                    <p>User can search based on keywords</p>
                    <p>Login & Register with validations. If needed User can Edit their account</p>
                    <p>User can explore and discover events based on category</p>
                    <p>Users can look at and purchase tickets of events from upcoming week</p>

                </div>

            </div>

            <footer class="p-3">
                <div class="mx-auto m-3 text-center">
                    <button type="button" class="btn" style="background-color: #009cde; color: #F8EEE7; ">
                        <a href="https://github.com/StephanieArias/TheSpot">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                class="bi bi-github" viewBox="0 0 16 16">
                                <path
                                    d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z">
                                </path>
                            </svg>
                            TheSpot Repo</a>

                    </button>
                    <button type="button" class="btn" style="background-color: #009cde; color: #F8EEE7; ">
                        <a href="https://github.com/StephanieArias">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                class="bi bi-github" viewBox="0 0 16 16">
                                <path
                                    d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z">
                                </path>
                            </svg>
                            Stephanie Arias</a>

                    </button>
                    <button type="button" class="btn" style="background-color: #009cde; color: #F8EEE7; ">
                        <a href="https://github.com/carolynttnguyen">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                class="bi bi-github" viewBox="0 0 16 16">
                                <path
                                    d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z">
                                </path>
                            </svg>
                            Carolyn Nguyen</a>

                    </button>
                </div>

            </footer>
        </div>
    </div>


    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>




</body>



</html>