{% extends 'dashboard.html' %}
{% block content %}
<div class="alert alert-primary p-3 m-5" role="alert">
    <h1>You searched for <strong>{{ artist }}</strong></h1>
</div>
{% if concerts %}
    {% for concert in concerts %}

    <div class="card m-5">
        <h5 class="card-header p-5">{{ concert.venue }}</h5>
        <iframe class="card-img-top" width="100" height="450" frameborder="0" style="border:0" src="{{concert.location}}"
            allowfullscreen>
        </iframe>
        <div class="card-body">
            <h5 class="card-title">{{ concert.name }}</h5>
        </div>
    </div>
{% endfor %}
{% else %}
<div class="jumbotron m-5">
    <h1 class="display-4">Your search returned <strong>0</strong> results.</h1>

</div>
{% endif %}
{% endblock %}