{% extends 'dashboard.html' %}
{% block content %}

<div class="mx-auto mb-3" w-type="map" w-tmapikey="49EHlosvUJTeRXA89vSBYbGNJoLMz8Qx" w-googleapikey="YOUR_GOOGLE_API_KEY" w-keyword=""
    w-theme="simple" w-colorscheme="light" w-width="1200" w-height="286" w-size="50" w-border="1" w-borderradius="5"
    w-radius="25" w-period="year" w-layout="horizontal" w-attractionid="" w-promoterid="" w-venueid="" w-affiliateid=""
    w-segmentid="" w-proportion="custom" w-geoposition="on" w-source="universe" w-latlong="34.0390107,-118.2672801">
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_GOOGLE_API_KEY&libraries=visualization,places" async
    defer></script>
<script
    src="https://ticketmaster-api-staging.github.io/products-and-docs/widgets/map/1.0.0/lib/main-widget.js"></script>
{% endblock %}