{% extends 'dashboard.html' %}
{% block content %}

<div class="row mx-auto text-center">
    <div w-type="map" w-tmapikey="49EHlosvUJTeRXA89vSBYbGNJoLMz8Qx" w-googleapikey="YOUR_GOOGLE_API_KEY"
        w-keyword="music" w-theme="simple" w-colorscheme="light" w-width="750" w-height="600" w-size="25" w-border="1"
        w-borderradius="4" w-postalcode="" w-radius="25" w-countrycode="US" w-city="Los Angeles" w-period="week"
        w-layout="vertical" w-attractionid="" w-promoterid="" w-venueid="" w-affiliateid="" w-segmentid=""
        w-proportion="custom" w-geoposition="off" w-source="ticketmaster" w-latlong="" class="mx-auto">
    </div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_GOOGLE_API_KEY&libraries=visualization,places" async
    defer></script>
<script
    src="https://ticketmaster-api-staging.github.io/products-and-docs/widgets/map/1.0.0/lib/main-widget.js"></script>
{% endblock %}
